.slick-slider {
  display: flex !important;
  align-items: center;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

button.custom-next-arrow {
  right: 80px !important;
  z-index: 10;
}

button.custom-prev-arrow {
  left: 20px !important;
  z-index: 10;
}

button.custom-next-arrow::before {
  color: gray;
  content: '\276F';
  background-color: #ffd3d3;
  width: 80px;
  height: 80px;
  font-style: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button.custom-prev-arrow::before {
  color: gray;
  content: '\276E';
  background-color: #ffd3d3;
  width: 80px;
  height: 80px;
  font-style: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}